@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "Home - Razor"; // This is C# world!
}
@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner { <!--this is HTML world!-->
    <h1> Home Page for Razor Form Samples</h1>
}
<p>Hello World!!!!!</p>
@section footer {
    <footer> CPSC1517 Nait, all rights reserved</footer>
}

