@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "Home - Razor"; // This is C# world!
}
@section banner {
    <h1> Home Page for Razor Form Samples</h1>
    <p>Hello World!!!!!</p> <!--this is HTML world!-->
}

@section footer {
    <footer> CPSC1517 Nait, all rights reserved</footer>
    }

